@model Ambrosium.Models.Produto

<div class="search-result col-sm-offset-2 col-sm-8">
        <div class="search-div col-sm-8">
            <div class="search-title">
                @Html.ActionLink(Model.nome, "Details", "Produtos", new { id = Model.id }, null)
            </div>

            <div class="search-subtitle">
                <b>@Html.ActionLink(Model.Estabelecimento1.nome, "Details", "Estabelecimentos", new { id = Model.estabelecimento }, null)</b>

                <div class="search-status">
                    @Html.DisplayFor(modelItem => Model.Estabelecimento1.rating)
                    <i class="fa fa-star" aria-hidden="true"></i>
                    &emsp; @Model.Estabelecimento1.GetDistancePrintable(ViewBag.origin)
                </div>
            </div>

            <div class="search-desc">
                Ingredientes:
                @foreach (var ingrediente in Model.Ingrediente)
                {
                    @Html.DisplayText(ingrediente.nome + ", ")
                }
            </div>
        </div>

        <div class="search-div col-md-4">
            <img class="search-pic" src="~/Content/images/foods/default.png" />
        </div>
</div>