@model IEnumerable<Ambrosium.Models.Produto>

@{
    ViewBag.Title = "Resultados da pesquisa";
}


<div class="navbar">
    <div class="navbar-logo col-sm-2">
        <div class="nav-circle">
            <img class="navbar-img" alt="logo" src="~/Content/images/icon.png" />
        </div>
    </div>

    <div class="navbar-container">
        <a href="../home/index.html">Home</a>
        <a href="#Register">Register</a>
        <a href="../login/index.html">Login</a>

    </div>
</div>


<!-- Main -->

<div class="search-container col-md-10">
    <form action="../results/index.html">
        <div class="col-sm-offset-1 col-sm-5 search-text">
            <div class="banner-title-container">
                <div class="input-banner col-sm-offset-2">
                    <div class="input-group input-border">
                        <input id="transcript" type="text" class="text-recon" placeholder="Procurar" required>
                        <span class="input-group-btn">
                            <button class="btn btn-secondary submit-recon" type="submit" href="~/Home/Resultados">
                                <i class="fa fa-search" aria-hidden="true"></i>
                            </button>
                        </span>
                        <span class="input-group-btn">
                            <button class="btn btn-secondary submit-recon" type="button" onclick="startDictation()">
                                <i class="fa fa-microphone" aria-hidden="true"></i>
                            </button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <select class=" col-sm-offset-1 col-sm-2 select-dropdown">
        <option class="drop-text" value="None">Sort By</option>
        <option class="drop-text" value="Qualidade">Qualidade</option>
        <option class="drop-text" value="Classificação">Classificação</option>
        <option class="drop-text" value="Distancia">Distancia</option>
    </select>
    <div class="col-sm-offset-1 col-sm-2 checkbox-pref">
        <input class="col-sm-2" type="checkbox" name="preferences" value="Bike">
        <div class="col-sm-8">
            Ignorar Preferencias
        </div>
    </div>
</div>


@foreach (var item in Model)
{
    <div class="search-result col-sm-offset-2 col-sm-8">
        <div class="search-div col-sm-4">
            <a href="~/Estabelecimentos/Details/@item.estabelecimento">
                <div class="search-title">
                    @Html.DisplayFor(modelItem => item.Estabelecimento1.nome)
                </div>
                <div class="search-subtitle">
                    @Html.DisplayFor(modelItem => item.nome)
                </div>
                <div class="search-desc col-sm-offset-1">
                    <b>Ingredientes:</b>
                    @foreach (var ingrediente in item.Ingrediente)
                {
                        @Html.DisplayText(ingrediente.nome + ", ")
                    }
                </div>
            </a>
        </div>
        <div class="search-div col-sm-4">
            <div class="search-dist">
                Distancia: &emsp;  <b> @{ @item.Estabelecimento1.GetDistancePrintable(ViewBag.origin); } </b>
            </div>
            <div class="rating col-sm-12">
                Rating &emsp;
                
                @Html.DisplayFor(modelItem => item.Estabelecimento1.rating)
                <i class="fa fa-star" aria-hidden="true"></i>
            </div>
        </div>
        <div class="search-div col-md-4">
            <img class="search-pic" src="~/Content/images/pot.jpg" />
        </div>
    </div>
}

<script>
function startDictation() {

	if (window.hasOwnProperty('webkitSpeechRecognition')) {

  		var recognition = new webkitSpeechRecognition();

  		recognition.continuous = false;
  		recognition.interimResults = false;

  		recognition.lang = "pt-PT";
  		recognition.start();

  		recognition.onresult = function(e) {
    		document.getElementById('transcript').value
            	                 = e.results[0][0].transcript;
    		recognition.stop();
    		document.getElementById('labnol').submit();
  		};

  		recognition.onerror = function(e) {
    		recognition.stop();
		}

	}
}
</script>

<!--
<h2>Search</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.imagem)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.estabelecimento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.regime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ativo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.imagem)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.estabelecimento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.regime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ativo)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
    -->