@model Ambrosium.Models.Estabelecimento

@{
    ViewBag.Title = "Ambrosium | " + Model.nome;
}

<!-- Main -->

	<div class="col-sm-12">
		<div class="col-xs-12 profile-title-container">
			Ambrosium
		</div>

        <div class="col-md-offset-1 col-sm-8 name-container">
            @Model.nome
        </div>
	</div>

	<div style="color:black;padding-bottom:50px;margin-bottom:0px;"  class="col-xs-12 profile-sections-container">
		<div class="col-md-offset-2 col-md-2 profile-section-active">
			Restaurante
		</div>

        <div class="col-md-offset-1 col-md-2 profile-section">
            @Html.ActionLink("Menus", "Menus", new { id = Model.id })
        </div>

		<div class="col-md-offset-1 col-md-2 profile-section">
            @Html.ActionLink("Galeria", "Galeria", new { id = Model.id })
	    </div>
    </div>


	<div style="color:black;" class="col-xs-12">
		<div class="col-md-5 col-md-offset-1">
            <h3>Endereço:</h3> @Model.localizacao

            <h3>Telefone:</h3> @Model.telefone

            <h3>Descrição:</h3>
			<div class="col-md-12">
				<div class="col-sm-12 restaurant-desc">
				    @Model.descricao                
                </div>
			</div>
 
            <h3>Horário de funcionamento</h3>
            <ul>
                @foreach (var dia in Model.Horario)
                {
                <li>@Enum.GetName(typeof(DayOfWeek), @dia.dia):     @dia.abertura-@dia.fecho, @dia.abertura2-@dia.fecho2</li>
                }
            </ul>
        </div>
		
        <div class="col-md-offset-2 col-md-4">
			<div class="rest-class">
				Rating: 
                @{
                    decimal d = (decimal) Model.rating;
                    @d.ToString("0.00");
                }
				<i class="fa fa-star" aria-hidden="true"></i>
			</div>
			<div>
				<img style="margin-bottom:50px;" class="rest-map" src="~/Content/images/icon.png"/>
			</div>
		</div>
	</div>