@model IEnumerable<Ambrosium.Models.Produto>

@{
    ViewBag.Title = "Ambrosium";
}

<h2>Menus</h2>



<!-- Main -->

<div class="col-sm-12">
    <div class="col-sm-12 profile-title-container">
        Ambrosium
    </div>

</div>

<div class="col-md-12 profile-sections-container">
    <a href="~/Estabelecimentos/Details/@ViewBag.Estabelecimento.id">
        <div class="col-xs-offset-2 col-xs-2 profile-section">
            Restaurante
        </div>
    </a>
    <a href="#">
        <div class="col-xs-offset-1 col-xs-2 profile-section">
            Menus
        </div>
    </a>
    <a href="~/Estabelecimentos/Galeria/@ViewBag.Estabelecimento.id">
        <div class="col-xs-offset-1 col-xs-2 profile-section">
            Galeria
        </div>
    </a>
</div>


<div style="color:black;margin-top:50px;" class="col-xs-12">
    @foreach (var item in Model)
    {
    
        <div class="search-result col-sm-offset-2 col-sm-8">
            <div class="search-div col-sm-4">
                <div style="color:black;" class="search-title">
                    @Html.DisplayFor(modelItem => item.nome)
                </div>
                <div style="color:black;" class="search-desc col-sm-offset-1">
                    <b>Ingredientes:</b>
                   
                    @foreach (var ingrediente in item.Ingrediente)
                    {
                        @ingrediente.nome
                       
                    }
                </div>
            </div>
            <div class="search-div col-sm-4">
                <div class="rating col-sm-12">
                    Rating &emsp;
                     @item.AverageRating()
                    <i class="fa fa-star" aria-hidden="true"></i>
                </div>
            </div>
            <div class="search-div col-md-4">
                <img class="search-pic" src="~/Content/images/icon.png" />
            </div>
        </div>
    }
 

</div>

<!--
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.imagem)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.estabelecimento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.regime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ativo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.imagem)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.estabelecimento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.regime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ativo)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
    -->