@model Ambrosium.Models.Sugestao_Produto

@{
    ViewBag.Title = "Create";
}

<div class="navbar">
    <div class="navbar-logo col-sm-2">
        <div class="nav-circle">
            <img class="navbar-img" alt="logo" src="~/Content/images/icon.png" />
        </div>
    </div>

    <div class="navbar-container">
        <a href="~/Home">Home</a>
        <a href="~/Home/Registar">Register</a>
        <a onclick="document.getElementById('id01').style.display='block'">Login</a>

    </div>
</div>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Sugestao_Produto</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.nome, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.nome, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.nome, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.data, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.data, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.data, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.regime, "regime", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("regime", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.regime, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.utilizador, "utilizador", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("utilizador", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.utilizador, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.produto, "produto", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("produto", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.produto, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
